__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
lib/
node_modules/
*.tgz
b2_jlab/labextension/
*.js.map
tsconfig.tsbuildinfo
.eslintcache
.stylelintcache
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
*.ipynb_checkpoints
.venv/
.env
.DS_Store
